/* resets */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #f9fafc;
}

header {
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 50px 15px;
}

.header-title,
.nav-items,
.hire-us {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list {
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.nav-items {
  display: block;
  text-decoration: none;
  color: #69696a;
}

.hire-us {
  display: block;
  background-color: #000;
  color: #f9fafc;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}
